#root {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
}

header {
  display: flex;
  flex-direction: row;
  width: 350px;
  margin: auto;
  margin-bottom: 1rem;
  background-color: #1da1f2;
  color: #fff;
  font-weight: bold;
  padding: 1rem;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#login {
  display: flex;
  height: 2em;
  align-items: center;
}

#main {
  display: flex;
  flex-direction: column;
}

#left-container,
#right-container {
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  margin: auto;
}

#left-container {
  margin-bottom: 1rem;
}

/* for the search bar */
form {
  display: flex;
  flex-direction: column;
}

/* where we write in the prompt */
textarea {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #c61f1f;
  resize: none;
  margin-bottom: 0.5rem;
}

button:hover {
  background-color: #0c90e0;
}

/* css for the delete button */
.delete-button {
  background-color: transparent;
  border: none;
  color: red;
  font-size: 12px;
  cursor: pointer;
}

/* css for the displaying avatar in the left container */

#avatar-container {
  height: 400px;
  width: 350px;
  overflow-y: scroll;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 1rem;
}

.avatar-item {
  display: flex;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.avatar-item .avatar {
  margin-right: 16px;
  width: 64px;
  height: 64px;
  overflow: hidden;
  border-radius: 50%;
}

.avatar-item .avatar img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.avatar-item .username {
  font-weight: bold;
  font-size: 18px;
  color: #0e0e0e;
}

.avatar-item .timestamp {
  color: #0e0e0e;
}

.avatar-item .lastname {
  margin-left: 8px;
  font-size: 18px;
}

.avatar-item .description {
  margin-top: 8px;
  font-size: 14px;
  color: #0e0e0e;
}

#super-wrapper {
  height: 400px;
  width: 350px;
  overflow-y: scroll;
}

.loginPage {
  margin: 33%;
  position: absolute;
  background-color: #1da1f2;
  padding: 2rem;
  border-radius: 1rem;
}

.detail-log {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

footer {
  display: flex;
  margin: auto;
}

@media (width > 800px) {
  header {
    width: -webkit-fill-available;
  }

  #main {
    display: flex;
    flex-direction: row;
    margin: auto;
  }
  #left-container {
    padding: 1rem;
    margin-right: 1rem;
  }
}
